# Virtual environment
.venv/
venv/

# Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Ignore migration cache files, but allow actual migration code
**/migrations/*.pyc
**/migrations/__pycache__/


# Static and media files
/static/
/media/

# Logs
logs/
*.log
*.out
*.err

# IDE and editor-specific files
.vscode/
.idea/
*.swp
*.swo

# Coverage and testing reports
htmlcov/
.coverage
*.cover
.pytest_cache/
nosetests.xml
coverage.xml
*.mo
*.pot

# Compiled C extensions
*.so

# macOS system files
.DS_Store

# ignore sqlite, sqlite temp files, potentiall backups
*.sqlite3
*.sqlite3-journal
*.bak

# Ignore local-only Docker overrides
docker-compose.override.yml

#database
db.sqlite3
*.sqlite3
*.sqlite3-journal
db.*
.env
