maishagala.com {
    encode gzip

    handle /static/* {
        root * /srv
        file_server
    }

    handle /media/* {
        root * /srv
        file_server
    }

    handle {
        reverse_proxy django_backend:8000
    }
}
